{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    <h1>Plataforma PhotoStudio</h1>
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href="{% static 'components/table.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.css"/>
{% endblock css_files %}

{% block body %}
<div class="row">
        <div class="ten wide column">
            <p>Gerenciamento de Clientes</p>
            
        </div>
</div>


    <form class="ui small form" method="GET">
        <div class="two fields">
            <div class="field">
                <label>{{ form.name.label }}</label>
                {{ form.name }}
            </div>
            <div class="field">
                <label>{{ form.cpf.label }}</label>
                {{ form.cpf }}
            </div>
        </div>
    
    </form>
    <div class="row">
    
    <table id="client-grid" class="ui black striped table">
        <thead>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Telefone</th>
            <th>Telefone 2</th>
            <th>Email</th>
            <th>Dt.Nascimento</th>
            <th></th>
            <th></th>
        </thead>
    </table>
</div>
</div>

{% endblock body %}

{% block js_files %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/b-1.5.2/b-html5-1.5.2/r-2.2.2/datatables.min.js"></script>
<script src="{% static 'js/jquery-mask.js' %}"></script>
{% endblock js_files %}

{% block js_scripts %}
<script>
$('#id_cpf').mask('000.000.000-00');

var cpf = document.getElementById('id_cpf')
var client_name = document.getElementById('id_name')
$(document).ready(function() {
    $('#client-grid').DataTable( {
        dom: 'Bfrtip',
        buttons:[],
        "scrollY": false,
        "paging": true,
        "pageLength": 25,
        "searching": false,
        "responsive": true,
        "ajax":{
            "url": "/api/clients/",
            "dataSrc": '',
            "type":'GET',
            "data": function (d) { // pass additional        
                d.name = client_name.value; 
                d.cpf = cpf.value; }
            },
        "columns":[
            { "data": "name" },
            { "data": "cpf" },
            { "data": "rg" },
            { "data": "phonenumber" },
            { "data": "phonenumber_2" },
            { "data": "email" },
            { "data": "birthday" },
            { "data": "get_detail_url",
            "render": function ( data, type, full, meta ) {
            return '<a class="ui small button" href="'+data+'">Detalhar</a>';         }
            },
            { "data": "quote_request_create_url",
            "render": function ( data, type, full, meta ) {
            return '<a class="ui small primary button" href="'+data+'">Pedir Orçamento</a>';         }
            },
        ],
    } );
    // space
} );

$("#id_cpf,#id_name ").on('input keyup', function(){
    $('#client-grid').DataTable().ajax.reload();
})
</script>

{% endblock js_scripts %}
